@charset "utf-8";

/* CSS document */

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
	margin: auto;
	background: #818181;
	color: white;
	background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.25, #4f4f4f),
        color-stop(0.5, #5f5f5f),
        color-stop(0.75, #4f4f4f),
        color-stop(1.00, #3f3f3f)
    );
}

div.errorRow {
	float: left;
	width: 100%;
	color: white;
	text-align: center;
	font-family: sans-serif;
}

p.error {
	font-size: 30pt;
	height: 0px;
	margin-top: 200px;
}

p.detail {
	font-size: 30pt;
	font-weight: bold;
	margin-bottom: 300px;
	margin-top: 50px;
}

div.bottomRow {
	position: fixed;
	bottom: 0;
	width:100%;
	text-align: bottom;
	font-size: 8pt;
}